.swipeButtons {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    bottom: 5vh;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 18px 53px 0px rgb(0, 0, 0.3);
}

.swipeButtons .swipeButtons__repeat {
    padding: 3vw;
    color: yellow;
}

.swipeButtons .swipeButtons__left {
    padding: 3vw;
    color: red;
}

.swipeButtons .swipeButtons__star {
    padding: 3vw;
    color: blue;
}

.swipeButtons .swipeButtons__right {
    padding: 3vw;
    color: rgb(143, 226, 143);
}

.swipeButtons .swipeButtons__lightning {
    padding: 3vw;
    color: #915dd1;
}